# PostgreSQL Connection string for Prisma
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/upl_reclamations_db?schema=public"

# Authentication secret for JWT & Session signing
AUTH_SECRET="upl_reclamations_super_secret_jwt_key_2026_katanga_rdc"

# Application Metadata
NEXT_PUBLIC_APP_NAME="UPL Réclamations"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
